.footerlist {
  text-decoration: none;
  margin-bottom: "100px";
  line-height: 2;
  color: black;
}
.footerlistHeading {
  text-decoration: none;
  margin-bottom: "100px";
  font-weight: 600;
  font-size: 20px;
  color: black;
}

.footerlogo {
  margin: 10px;
  font-size: 50px;
}

.nav-item {
  margin-left: 25px;
}

.searchBox {
  width: 80rem;
  height: 55px;
  background-color: white;
  border-radius: 3px;
  margin-top: 20px;
}

.create-ticket-layout {
  height: 50px;
  width: 780px;
  /* border-color:black; */
  border: #56dfcfb1 solid 1px;
  font-weight: 700;
  background-color: white;
  border-radius: 10px;
}


.ticketListDiv {
  height: 300px;
  width: 610px;
  background-color: bisque;
  margin-left: 20px;
}
